In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(rc={"lines.linewidth": 2}, palette  = "deep", style = "ticks")
from itertools import product, permutations, combinations, combinations_with_replacement
from sklearn.metrics import precision_recall_curve, roc_curve, auc
import matplotlib.pyplot as plt

In [131]:
truepath_1 = '/gpfs/gibbs/pi/zhao/zc354/GRN/data/Non-specific-ChIP-seq1-GRN.csv'
truepath_2 = '/gpfs/gibbs/pi/zhao/yw599/GRN/BEELINE-Networks/Networks/human/Non-specific-ChIP-seq-network.csv'
predpath_1 = '/gpfs/gibbs/pi/zhao/zc354/GRN/output/TF_GRN_withoutATAC_norm.csv'
predpath_2 =  '/gpfs/gibbs/pi/zhao/zc354/GRN/data/TF_original排序_9.csv'
directed = True
save_path = '/gpfs/gibbs/pi/zhao/zc354/GRN/output'
save_name = '/AUPRC_TF_GRN_withoutATAC_norm_indirected'

In [111]:
trueEdgesDF_1 = pd.read_csv(truepath_1,sep = '\t', header = 0, index_col = None)

In [112]:
trueEdgesDF_1

       Gene1    Gene2
0         AR    PTGS2
1     ARID3A     CDK1
2     ARID3A      CR2
3       ATF2    PTGS2
4       ATF4    CXCL8
...      ...      ...
3665  ZNF263    NFASC
3666  ZNF263  PACSIN1
3667  ZNF263   ZBTB16
3668  ZNF263  ZFYVE28
3669  ZNF263   ZNF608

[3670 rows x 2 columns]

In [113]:
trueEdgesDF_1 = trueEdgesDF_1.loc[(trueEdgesDF_1['Gene1'] != trueEdgesDF_1['Gene2'])]

In [114]:
trueEdgesDF_1.drop_duplicates(keep = 'first', inplace=True)

In [115]:
trueEdgesDF_1

       Gene1    Gene2
0         AR    PTGS2
1     ARID3A     CDK1
2     ARID3A      CR2
3       ATF2    PTGS2
4       ATF4    CXCL8
...      ...      ...
3665  ZNF263    NFASC
3666  ZNF263  PACSIN1
3667  ZNF263   ZBTB16
3668  ZNF263  ZFYVE28
3669  ZNF263   ZNF608

[3670 rows x 2 columns]

In [132]:
trueEdgesDF_2 = pd.read_csv(truepath_2,sep = ',', header = 0, index_col = None)
predEdgesDF_1 = pd.read_csv(predpath_1, sep = ',', header =  0, index_col = None)
predEdgesDF_2 = pd.read_csv(predpath_2, sep = ',', header =  0, index_col = None)

In [133]:
len(set(predEdgesDF_2['Gene2']))

748

In [117]:
#Drop index in predEdgesDF that Edgeweight=0
predEdgesDF_1.drop(predEdgesDF_1[predEdgesDF_1['Edgeweight'] == 0].index,inplace=True)
predEdgesDF_2.drop(predEdgesDF_2[predEdgesDF_2['Edgeweight'] == 0].index,inplace=True)

In [121]:
predEdgesDF_1

          Gene1    Gene2  Edgeweight
0           MAF  TNFRSF4    0.022684
1          RORA  TNFRSF4    0.018716
2          RORC  TNFRSF4    0.013738
3         GATA3  TNFRSF4    0.009788
4          KLF6  TNFRSF4    0.009379
...         ...      ...         ...
431451  ZSCAN22     CALY    0.000000
431452  ZSCAN23     CALY    0.000000
431453  ZSCAN29     CALY    0.000000
431454  ZSCAN31     CALY    0.000000
431455   ZSCAN9     CALY    0.000000

[431456 rows x 3 columns]

In [122]:
predEdgesDF_1.loc[(predEdgesDF_1['Gene2'] == 'TNFRSF4')]

      Gene1    Gene2  Edgeweight
0       MAF  TNFRSF4    0.022684
1      RORA  TNFRSF4    0.018716
2      RORC  TNFRSF4    0.013738
3     GATA3  TNFRSF4    0.009788
4      KLF6  TNFRSF4    0.009379
..      ...      ...         ...
771     ZFY  TNFRSF4    0.000000
772  ZNF205  TNFRSF4    0.000000
773  ZNF662  TNFRSF4    0.000000
774  ZNF704  TNFRSF4    0.000000
775  ZNF730  TNFRSF4    0.000000

[776 rows x 3 columns]

In [58]:
predEdgesDF_2

        Gene1   Gene2    Edgeweight
0        TCF4  PDZRN3  2.026733e-01
1        PAX5   BANK1  1.770214e-01
2        XBP1  TXNDC5  1.591947e-01
3        TCF4   SCN9A  1.586981e-01
4        IRF8  ARPP21  1.568413e-01
...       ...     ...           ...
499902  HNF4G  JCHAIN  4.924148e-10
499903  MESP2  JCHAIN  4.924148e-10
499904   ETV1  JCHAIN  2.597353e-10
499905  NR1H4  JCHAIN  2.462074e-10
499906  GLIS1  JCHAIN  1.477244e-10

[499907 rows x 3 columns]

In [59]:
sum(predEdgesDF_1['Edgeweight'])

555.9999999999826

In [60]:
len(set(predEdgesDF_2['Gene1']))

776

In [61]:
len(set(predEdgesDF_2['Gene2']))

748

In [63]:
len(set(predEdgesDF_2['Gene2'])-set(predEdgesDF_1['Gene2']))

192

In [123]:
pred_2 = predEdgesDF_2.loc[(predEdgesDF_2['Gene2'] == 'TNFRSF4')]

In [124]:
pred_2

          Gene1    Gene2    Edgeweight
1416       RORA  TNFRSF4  2.648612e-02
1855        MAF  TNFRSF4  2.265731e-02
3475       RORC  TNFRSF4  1.573893e-02
7865       RARG  TNFRSF4  9.428040e-03
9265      GATA3  TNFRSF4  8.499584e-03
...         ...      ...           ...
498788     DPF1  TNFRSF4  2.077930e-07
498789    ETV3L  TNFRSF4  2.077930e-07
498790    HOXA3  TNFRSF4  2.077930e-07
498791  NEUROD2  TNFRSF4  2.077930e-07
499487     LBX2  TNFRSF4  8.311721e-08

[746 rows x 3 columns]

In [125]:
pred_2.reset_index(inplace = True)

In [126]:
pred_1.reset_index(inplace = True)

In [127]:
pred_1

     level_0  index    Gene1    Gene2    Edgeweight
0          0      0     RORA  TNFRSF4  2.853272e-02
1          1      1      MAF  TNFRSF4  2.348447e-02
2          2      2     RORC  TNFRSF4  1.560608e-02
3          3      3     RARG  TNFRSF4  1.044906e-02
4          4      4    GATA3  TNFRSF4  8.548115e-03
..       ...    ...      ...      ...           ...
747      747    747  TFCP2L1  TNFRSF4  4.749026e-07
748      748    748    TEAD3  TNFRSF4  3.693687e-07
749      749    749     DLX4  TNFRSF4  2.216212e-07
750      750    750   PKNOX2  TNFRSF4  7.387373e-08
751      751    751    GLIS1  TNFRSF4  5.276695e-08

[752 rows x 5 columns]

In [128]:
outDF = pd.DataFrame(columns=['pred_1','pred_2','Edgeweight_1','Edgeweight_2'])

In [129]:
outDF['pred_1']= pred_1['Gene1']
outDF['pred_2']= pred_2['Gene1']
outDF['Edgeweight_1']= pred_1['Edgeweight']
outDF['Edgeweight_2']= pred_2['Edgeweight']

In [130]:
outDF.loc[1:50,:]

    pred_1  pred_2  Edgeweight_1  Edgeweight_2
1      MAF     MAF      0.023484      0.022657
2     RORC    RORC      0.015606      0.015739
3     RARG    RARG      0.010449      0.009428
4    GATA3   GATA3      0.008548      0.008500
5     KLF6  BCL11B      0.007784      0.008228
6   BCL11B   PRDM1      0.007759      0.007647
7    PRDM1    ETS1      0.007113      0.007555
8     ETS1   RUNX3      0.006865      0.007332
9    FOXP1    KLF6      0.006335      0.007149
10   FOXP3   FOXP1      0.006124      0.006752
11   RUNX3   KLF12      0.006116      0.006593
12   KLF12  ARID5B      0.006011      0.006488
13   IKZF2   IKZF1      0.005897      0.005775
14   KMT2A   KMT2A      0.005668      0.005674
15  ARID5B    YBX1      0.005593      0.005449
16     JUN   NFKB1      0.005431      0.005208
17    YBX1     JUN      0.005407      0.005202
18    KLF2   IKZF2      0.005340      0.005125
19  STAT5B    KLF2      0.005310      0.004860
20   MYBL1   MYBL1      0.005238      0.004849
21   RUNX1   RUNX1      0.005031      0.004766
22   IKZF1   STAT4      0.005029      0.004759
23     FOS   KDM2A      0.004915      0.004730
24   FOXN3     FOS      0.004857      0.004730
25   STAT4     BBX      0.004790      0.004652
26   NFKB1   FOXN3      0.004665      0.004597
27   RUNX2   MECP2      0.004454      0.004509
28  ZBTB20    XBP1      0.004427      0.004424
29    TCF7    TCF7      0.004289      0.004385
30   KDM2A  ZBTB20      0.004188      0.004226
31   BACH2    JUNB      0.004159      0.004214
32    JUNB   STAT1      0.004100      0.004183
33    PHF1    ELK3      0.004077      0.004157
34    XBP1  ZNF257      0.004035      0.004146
35    LEF1    GLI3      0.003923      0.004088
36   STAT1   SMAD3      0.003923      0.004078
37   SMAD3    LEF1      0.003921      0.003975
38     BBX    PHF1      0.003879      0.003974
39   MECP2   RUNX2      0.003793      0.003931
40    ELK3  POU3F1      0.003766      0.003924
41     MYC  STAT5B      0.003716      0.003905
42   NR3C1  ZNF620      0.003715      0.003903
43  ZNF620  ZNF611      0.003660      0.003888
44  ZNF460    PBX4      0.003645      0.003885
45    GLI3   BACH2      0.003562      0.003859
46  ZNF257    FLI1      0.003557      0.003772
47   GTF3A  ZNF276      0.003552      0.003724
48    ZEB2  ZNF566      0.003537      0.003716
49   TCF12   NR3C2      0.003535      0.003694
50    ETV6     YY1      0.003534      0.003578

In [72]:
pred_1 = predEdgesDF_1.loc[(predEdgesDF_1['Gene2'] == 'TNFRSF4')]

In [79]:
newDF_2 = pred_2.loc[(pred_2.loc['Edgeweight'] >= 1e-6)]

KeyError: 'Edgeweight'

In [44]:
#Drop selfEdges
trueEdgesDF_2 = trueEdgesDF_2.loc[(trueEdgesDF_2['Gene1'] != trueEdgesDF_2['Gene2'])]
predEdgesDF = predEdgesDF.loc[(predEdgesDF['Gene1'] != predEdgesDF['Gene2'])]

In [45]:
#Drop duplicates in trueEdgesDF and predEdgesDF
trueEdgesDF_1.drop_duplicates(keep = 'first', inplace=True)
predEdgesDF.drop_duplicates(keep = 'first',subset=['Gene1','Gene2'],inplace=True)

In [27]:
true_TF = set(trueEdgesDF_2['Gene1'])
pred_TF = set(predEdgesDF['Gene1'])
true_tg = set(trueEdgesDF_2['Gene2'])
pred_tg = set(predEdgesDF['Gene2'])

In [28]:
TFset = true_TF & pred_TF
tgset = true_tg & pred_tg

In [29]:
trueEdgesDF_2 = trueEdgesDF_2[(trueEdgesDF_2['Gene1'].isin(TFset))&(trueEdgesDF_2['Gene2'].isin(tgset))]
predEdgesDF = predEdgesDF[(predEdgesDF['Gene1'].isin(TFset))&(predEdgesDF['Gene2'].isin(tgset))]

In [30]:
trueEdgesDF_2

         Gene1    Gene2
134         AR    PTGS2
165     ARID3A     CDK1
166     ARID3A      CR2
261       ATF2    PTGS2
292       ATF4    CXCL8
...        ...      ...
386146  ZNF263    NFASC
386157  ZNF263  PACSIN1
386281  ZNF263   ZBTB16
386284  ZNF263  ZFYVE28
386287  ZNF263   ZNF608

[3628 rows x 2 columns]

In [32]:
DiffDF = pd.concat([trueEdgesDF_1,trueEdgesDF_2,trueEdgesDF_2]).drop_duplicates(keep = False)

In [35]:
DiffDF

       Gene1     Gene2
80     FOXO4      SOD2
81     FOXO4   TNFSF10
1318   FOXO4    ADAM12
1319   FOXO4   ADAMTS6
1320   FOXO4     BIRC3
1321   FOXO4      GAB2
1322   FOXO4     GLRA1
1323   FOXO4   KHDRBS2
1324   FOXO4      LMNA
1325   FOXO4     MAML3
1326   FOXO4     MAST4
1327   FOXO4       MME
1328   FOXO4      NEBL
1329   FOXO4     NHSL1
1330   FOXO4    P2RY12
1331   FOXO4       PAM
1332   FOXO4    RASAL2
1333   FOXO4    SH3D19
1334   FOXO4      VCAN
1736   MEIS1     ACSL1
1737   MEIS1    ARPP21
1738   MEIS1     CHSY3
1739   MEIS1     DOCK3
1740   MEIS1    FAM78B
1741   MEIS1     FGFR2
1742   MEIS1    GPR156
1743   MEIS1    INPP4B
1744   MEIS1     MAST4
1745   MEIS1    MPPED2
1746   MEIS1       NTM
1747   MEIS1     PACRG
1748   MEIS1    SLC4A4
1749   MEIS1  TMEM150C
1750   MEIS1  TMEM200A
1751   MEIS1    ZNF608
1926  NFE2L1    JARID2
1927  NFE2L1     LAMC1
1928  NFE2L1     NEGR1
1929  NFE2L1    OXNAD1
1930  NFE2L1   PHACTR2
1931  NFE2L1     PSMA1
1932  NFE2L1    ZNF608

In [36]:
len(DiffDF)

42

In [38]:
"FOXO4" in TFset

False

In [39]:
"MEIS1" in TFset

False

In [40]:
"NFE2L1" in TFset

False